/*해더*/
.header {height: 100; padding: 35px 0;border-bottom: 1px solid #979797;}

/**/
.forum {background-color: #F4F4F4;}
.forum .top_banner {background:#444;}
.forum .container-left {width:240px;text-align:center;}
.forum .left-itme
.forum .left-itme button 

ddddd